@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/*COLORS */
/*
--light-goldenrod-yellow: #eef4d4ff;
--tea-green: #daefb3ff;
--vivid-tangerine: #ea9e8dff;
--english-vermillion: #d64550ff;
--dark-jungle-green: #1c2826ff;
*/

/* GERAL */
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: 'Dosis', sans-serif;
}

/*BODY */
body {
  background-color: #1c2826ff;
}

/*SCROLL */

/*HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d64550ff;
}

.header img {
  max-width: 50px;
  margin-top: 2px;
}

.itens-menu {
  color: #daefb3ff;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

.itens-menu:hover {
  background-color: #ea9e8dff;
}

/*MAIN */
.main {
  max-width: 60%;
  border: 3px dashed #d64550ff;
  margin: 10px auto 50px;
  display: flex;
  padding: 5px;
  gap: 15px;
}

.main h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #daefb3ff;
  text-align: center;
}

.main h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #daefb3ff;
  text-align: center;
}

.main img {
  border: 5px solid #ea9e8dff;
  max-width: 40%;
}

.infos-main article{
  margin-bottom: 15px;
}

.infos-main p, li{
  color: #eef4d4ff;
  text-align: justify;
  line-height: 1.4em;
}

.lists:hover {
  background-color: #ea9e8dff;
}

/*FOOTER*/
.footer {
  display: block;
  bottom: 5px;
  color: #daefb3ff;
  text-align: center;
}
